<% if activity_resources_exist?(activity) %>
  <div class="activity-like">
    <div class="info">
      <%= user_avatar(activity.owner) %>
      <span class="action"><%= link_to activity.owner.full_name, user_path(activity.owner) %> liked a <%= link_to 'post', activity.trackable %></span>
    </div>
    <div class="content">
      <h4><small><%= activity.trackable.content %></small></h4>
    </div>
    <%= render 'shared/created_at', activity: activity %>
  </div>
<% end %>