<div class="well sidebar-nav">
  <h3>Actions</h3>
    <ul class="nav nav-list">
    <li><%= link_to "Friends" %></li>
    <li><%= link_to "Followers" %></li>
    <li><%= link_to "Find Friends" %></li>
    <li><%= link_to "Edit Profile" %></li>
    <li><%= link_to "Change password" %></li>
  </ul>
</div><!--/.well -->