<!-- Showing Posts -->
<div class="row posts">
  <% @posts.each do |post| %>
    <div class="col-md-2 post-avatar">
      <%= user_avatar(post.user) %>
    </div>
    <div class="col-md-10" style="margin-bottom: 35px;">
      <div class="panel panel-default post-panel">
        <div class="panel-title">
          <h4><%= post.user.first_name %> updated their status.</h4>
          <p><%= post.content.html_safe %></p>
        </div>
        <div class="panel-body">
          <% if post.picture.present? %>
            <%= image_tag post.picture, width: "100%", height: "300" %>
          <% end %>
          <small>
            <span>created by:<%= post.user.full_name %></span>, <span><%= time_ago_in_words(post.created_at) %> ago</span>
          </small>
        </div>
      </div>
      <div class="well interaction">
        <%#= render 'comments/actions', :post => post %>
      </div>
      <div class="comment" style="display: none;">
        <div class="comment-lists">
          <%#= render post.comments %>
        </div>
        <%#= render 'comments/form', :post => post %>
      </div>
    </div>
  <% end %>
</div><!--END Showing Posts -->
    